@switch (status()) { @case (playerStatus.Playing) {
<button
  class="text-white text-xl btn btn-md bg-base-100 hover:bg-base-200"
  (click)="pause()"
>
  <fa-icon [icon]="faPause" />
</button>
} @case (playerStatus.Loading){
<button class="text-white text-xl btn btn-md bg-base-100 hover:bg-base-200">
  <span class="loading loading-spinner loading-xs"></span>
</button>
} @default {
<button
  class="text-white text-xl btn btn-md bg-base-100 hover:bg-base-200"
  (click)="play()"
>
  <fa-icon [icon]="faPlay" />
</button>
}}
