.slideUp {
  animation: slideUp 0.3s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translate(-50%, 100%);
  }
  50% {
    transform: translate(-50%, -10%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
