<form (ngSubmit)="submit()" class="relative">
  <input
    type="text"
    placeholder="Search..."
    name="searchTerm"
    class="bg-base-300 px-5 py-3 w-full mx-auto my-5 outline-none shadow-md rounded-lg"
    [value]="searchTerm()"
    (input)="search($event)"
    autocomplete="off"
  />

  <button
    type="submit"
    class="btn absolute right-0 bottom-5 rounded-r-lg"
    [disabled]="searchTerm() === ''"
  >
    <fa-icon class="text-xl" [icon]="faMagnifyingGlass"></fa-icon>
  </button>
  @if(suggestions().length>0){
  <ul
    class="absolute bg-base-300 top-12 mt-5 p-3 w-full flex flex-col gap-1 rounded-lg slideDown z-50 overflow-y-scroll max-h-56"
  >
    @for(suggestion of suggestions(); track i; let i = $index){
    <li
      class="bg-base-200 rounded-lg p-3 cursor-pointer hover:bg-base-100 flex gap-3 items-center"
      (click)="searchBySuggestion(suggestion)"
    >
      <fa-icon class="text-xs" [icon]="faMagnifyingGlass"></fa-icon
      >{{ suggestion | titlecase }}
    </li>
    }
  </ul>
  }
</form>
