@if (isAbleToAddToFav()) {
<button
  class="btn btn-md w-14"
  [class]="
    forPlayer()
      ? 'bg-transparent border-none active:bg-transparent hover:bg-transparent disabled:bg-transparent'
      : ''
  "
  (click)="toggleAddToFavorite()"
  [disabled]="isLoadingFavorite()"
>
  @if(isLoadingFavorite()){
  <span class="loading loading-spinner loading-lg"></span>
  }@else{ @if (isFavorited()) {
  <fa-icon [icon]="favoritedHeart" [size]="forPlayer() ? '2x' : '1x'" /> } @else
  {
  <fa-icon [icon]="unFavoritedHeart" [size]="forPlayer() ? '2x' : '1x'" />
  } }
</button>
}
