<div
  class="h-screen fixed inset-0 z-50 overflow-hidden bg-base-200 slideUp"
  (touchmove)="swipeStart($event)"
  (touchend)="swipeEnd($event)"
  [class.slideDown]="isClosingAnimation()"
  [style]="{ top: coordY() + 'px' }"
  #playerRef
>
  @if(status() === playerStatus.Loading){
  <div
    class="fixed h-screen w-screen z-10 bg-base-200 bg-opacity-40 backdrop-blur-sm flex flex-col justify-center items-center"
  >
    <div class="h-[80%] flex items-center flex-col justify-around">
      <span class="loading loading-ring loading-lg scale-150"></span>
      <button
        class="btn bg-transparent w-96 text-3xl border-none"
        (click)="toggleSize()"
      >
        <fa-icon [icon]="faArrowDown" />
      </button>
    </div>
  </div>
  }

  <div class="flex flex-col items-center justify-center h-full px-10 gap-2">
    <img
      [src]="song()!.image"
      alt="Song Art BG"
      class="absolute -z-10 opacity-30 blur-xl h-screen w-screen scale-110"
      referrerpolicy="no-referrer"
    />

    <div
      class="rounded-md overflow-hidden shadow-2xl shadow-black cool3dArtworkAnimation"
    >
      <img
        [src]="song()!.image"
        alt="Song Art"
        referrerpolicy="no-referrer"
        #img
      />
    </div>

    <div class="mr-auto">
      <div class="text-white text-2xl font-bold mt-5">{{ song()!.title }}</div>
      <div class="text-white text-lg mt-1">{{ song()!.artist }}</div>
    </div>

    <div class="w-full">
      <input
        type="range"
        min="0"
        step="0.1"
        [max]="duration()"
        [value]="currentTime()"
        (input)="seekTime($event)"
        [style]="{ '--range-shdw': dominantColor() }"
        class="range transition-all duration-300"
      />
      <div class="flex justify-between">
        <p>{{ convertTime(currentTime()) }}</p>
        <p>{{ convertTime(duration()) }}</p>
      </div>
    </div>

    <div class="flex gap-4 mt-5">
      <button
        class="text-white text-4xl btn bg-transparent btn-lg border-none"
        (click)="previousSong()"
      >
        <fa-icon [icon]="faStepBackward" />
      </button>

      @switch (status()) { @case (playerStatus.Playing) {
      <button
        class="text-white text-4xl btn bg-transparent btn-lg border-none"
        (click)="pause()"
      >
        <fa-icon [icon]="faPause" />
      </button>
      } @default {
      <button
        class="text-white text-4xl btn bg-transparent btn-lg border-none"
        (click)="play()"
      >
        <fa-icon [icon]="faPlay" />
      </button>
      }}

      <button
        class="text-white text-4xl btn bg-transparent btn-lg border-none"
        (click)="nextSong()"
      >
        <fa-icon [icon]="faStepForward" />
      </button>
    </div>

    <button
      class="btn bg-transparent w-96 text-3xl border-none"
      (click)="toggleSize()"
    >
      <fa-icon [icon]="faArrowDown" />
    </button>
  </div>
</div>
