<div class="bg-base-100 rounded-t-2xl p-3 fixed bottom-0 w-full slideUp">
  <div
    class="flex gap-3 justify-start cursor-pointer w-full"
    (click)="toggleSize()"
  >
    <div class="w-16 rounded-xl overflow-hidden">
      <img
        class="object-fill w-full h-full"
        [src]="song()!.image"
        [alt]="song()!.artist"
        referrerpolicy="no-referrer"
      />
    </div>

    <div>
      <app-moving-title [title]="song()!.title" [isActive]="true" />
      <p class="text-xs">{{ song()!.artist }}</p>
    </div>

    <div
      class="text-white text-xl btn btn-md bg-base-100 hover:bg-base-200 ml-auto"
    >
      <fa-icon [icon]="faArrowUp" />
    </div>
  </div>
</div>
