.route-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    @media (min-width: 1024px) {
        margin-left: var(--sidebar-w);
    }
}

.app-main-container {
    min-height: 100dvh;
    width: 100%;
    background: transparent;
    z-index: 0;
}