<app-connection-status />
<app-toast />

@if (newUpdateAvailable()) {
  <app-update-overlay />
}

<div class="app-main-container">
  <div class="route-container">
    <router-outlet />
  </div>
</div>

@if (song() && isMiniPlayer()) {
  <app-mini-player
    (toggleSizeEvent)="onToggleSize()"
    [song]="song()!"
    [status]="status()"
    [progress]="progress()"
  />
}

<app-navigation />

@if (song() && !isMiniPlayer()) {
  <app-full-player
    (toggleSizeEvent)="onToggleSize()"
    [song]="song()!"
    [status]="status()"
  />
}

<app-global-modal />
