<app-connection-status />

@defer {
  <app-toast />
}

@defer (when newUpdateAvailable()) {
  <app-update-overlay />
}

<div class="app-main-container">
  <div class="route-container">
    <router-outlet />
  </div>
</div>

@defer (when song()) {
  @if (song() && isMiniPlayer()) {
    <app-mini-player
      (toggleSizeEvent)="onToggleSize()"
      [song]="song()!"
      [status]="status()"
      [progress]="progress()"
    />
  }
}

@defer (on idle) {
  <app-navigation />
}

@defer (when song()) {
  @if (song() && !isMiniPlayer()) {
    <app-full-player
      (toggleSizeEvent)="onToggleSize()"
      [song]="song()!"
      [status]="status()"
    />
  }
}

@defer (when isModalOpen()) {
  <app-global-modal />
}
