<app-connection-status />

@defer (when newUpdateAvailable()) {
  <app-update-overlay />
}

<div class="app-main-container">
  <div class="route-container">
    <router-outlet />
  </div>
</div>

@if (playlistService.currentSong(); as song) {
  @if (settingsService.isMiniPlayer()) {
    <app-mini-player
      (toggleSizeEvent)="onToggleSize()"
      [song]="song"
      [status]="playerService.status()"
      [progress]="playerService.currentTime() / (playerService.duration() || 1) * 100"
    />
  } @else {
    <app-full-player
      (toggleSizeEvent)="onToggleSize()"
      [song]="song"
      [status]="playerService.status()"
    />
  }
}

@defer (on idle) {
  <app-navigation />
}

@defer (when modalService.isOpen()) {
  <app-global-modal />
}
