<div
  class="bg-base-200 rounded-t-2xl fixed bottom-16 left-1/2 slideUp w-full max-w-[500px] bg-opacity-60 backdrop-blur-lg"
  (click)="toggleSize()"
>
  <div class="flex gap-3 justify-start items-center cursor-pointer w-full p-3">
    <div class="w-14 rounded-md overflow-hidden relative">
      <div class="absolute inset-0 backdrop-brightness-50">
        <app-player-button [status]="status()" />
      </div>
      <img
        class="object-fill w-full h-full"
        [src]="song().image"
        alt="song Artist"
      />
    </div>

    <div>
      <app-moving-title
        [title]="song().title"
        [isActive]="true"
        classes="max-w-60"
      />
      <app-moving-title
        [title]="song().artist"
        [isActive]="true"
        classes="text-xs max-w-60"
      />
    </div>

    <div class="text-white text-xl pr-5 ml-auto">
      <fa-icon [icon]="faArrowUp" />
    </div>
  </div>
</div>
