@if(!isCheckedServer()){
<div
  class="w-full flex flex-col justify-center items-center gap-3 h-[50vh] slideDown"
>
  <p class="text-xl">Server is awakening...</p>
  <span class="loading loading-dots loading-lg"></span>
</div>
}@else {

<div class="w-[95%] mx-auto">
  <app-search [query]="query()" />
  <h1 class="font-bold text-2xl mb-2">Search</h1>
  @switch (status()) { @case (searchStatus.None) {
  <div class="flex justify-center w-fit mx-auto py-5 px-10">
    <p class="text-center">Search for some songs</p>
  </div>
  } @case (searchStatus.Loading) {
  <div class="flex justify-center w-fit mx-auto py-5 px-10">
    <span class="loading loading-ball loading-lg"></span>
    <span class="loading loading-ball loading-lg"></span>
    <span class="loading loading-ball loading-lg"></span>
  </div>
  } @case (searchStatus.Error) {
  <p class="text-center">Could not find any songs by this search</p>
  } @case (searchStatus.Finished) {
  <ul class="flex flex-col gap-1 mb-36">
    @for (song of songs(); track song.id) { @defer (on viewport){
    <li>
      <app-song [song]="song" />
    </li>
    }@placeholder {
    <p
      class="rounded-lg py-2 px-3 flex justify-between items-center bg-base-200"
    >
      Song is loading...
    </p>
    } } @empty {
    <li class="text-center">Search for some songs</li>
    }
  </ul>
  } }
</div>
}
