.slideUp {
  animation: slideUp 0.4s ease-in-out forwards;
}

.slideDown {
  animation: slideDown 0.2s ease-in-out forwards;
}

.slideToZero {
  animation: slideToZero 0.4s ease-in-out forwards;
}

.cool3dArtworkAnimation {
  animation: cool3dArtwork 15s ease-in-out infinite alternate;
}

@keyframes cool3dArtwork {
  0% {
    transform: perspective(1000px) rotateY(0deg) rotateX(0deg) scale(1);
  }
  25% {
    transform: perspective(1000px) rotateY(10deg) rotateX(-5deg) scale(1.02);
  }
  50% {
    transform: perspective(1000px) rotateY(-10deg) rotateX(5deg) scale(1.01);
  }
  75% {
    transform: perspective(1000px) rotateY(5deg) rotateX(-2deg) scale(1.03);
  }
  100% {
    transform: perspective(1000px) rotateY(-5deg) rotateX(2deg) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  60% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  to {
    transform: translateY(100%);
  }
}

@keyframes slideToZero {
  to {
    transform: translateY(0);
  }
}
