<div
  class="h-screen inset-0 fixed z-50 overflow-hidden bg-base-200 touch-none"
  [class.slideDown]="isClosingAnimation()"
  (onClose)="toggleSize()"
  #playerRef
  appSwipeDown
>
  <div
    class="flex flex-col items-center justify-center h-full px-10 gap-3 max-w-sm mx-auto"
  >
    <img
      [ngSrc]="song()!.image"
      alt="Song Art BG"
      class="absolute -z-10 opacity-30 blur-xl scale-110"
      fill
      priority="high"
      referrerpolicy="no-referrer"
    />

    <div
      class="rounded-md overflow-hidden shadow-2xl shadow-black cool3dArtworkAnimation relative"
    >
      @if (status() === playerStatus.Loading) {
      <div
        class="absolute h-full w-full z-10 bg-base-200 bg-opacity-30 backdrop-blur-sm flex flex-col justify-center items-center"
      >
        <span class="loading loading-ring loading-lg scale-150"></span>
      </div>
      } @if(status()===playerStatus.Error){
      <div
        class="absolute h-full w-full z-10 bg-base-200 bg-opacity-30 backdrop-blur-sm flex flex-col justify-center items-center"
      >
        <p class="font-bold text-red-300">
          Please try again later the song won't load...
        </p>
      </div>
      }
      <img
        [ngSrc]="song()!.image"
        alt="Song Art"
        style="width: 100%; height: auto"
        width="300"
        height="300"
        priority="high"
        referrerpolicy="no-referrer"
        appHoldClick
        (timerFinished)="downloadSong()"
      />
    </div>

    <div class="w-full flex justify-between items-center mt-3">
      <div class="mr-auto">
        <app-moving-title
          [title]="song()!.title"
          [isActive]="true"
          classes="max-w-60"
        />
        <app-moving-title
          [title]="song()!.artist"
          [isActive]="true"
          classes="max-w-60"
          [isRedirect]="true"
          (closePlayer)="toggleSize()"
        />
      </div>
      <app-favorite-button [song]="song()!" [forPlayer]="true" />
    </div>

    <div class="w-full">
      <input
        type="range"
        min="0"
        step="0.1"
        [max]="duration()"
        [value]="currentTime()"
        (input)="seekTime($event)"
        [style]="{ '--range-shdw': dominantColor() | async }"
        class="range transition-all duration-300"
      />
      <div class="flex justify-between">
        <p>{{ convertTime(currentTime()) }}</p>
        <p>{{ convertTime(duration()) }}</p>
      </div>
    </div>

    <div class="flex gap-8 flex-wrap justify-center">
      <button
        class="text-4xl btn bg-transparent btn-lg border-none w-16"
        (click)="previousSong()"
      >
        <fa-icon [icon]="faStepBackward" />
      </button>

      @switch (status()) { @case (playerStatus.Playing) {
      <button
        class="text-4xl btn bg-transparent btn-lg border-none w-16"
        (click)="pause()"
      >
        <fa-icon [icon]="faPause" />
      </button>
      } @default {
      <button
        class="text-4xl btn bg-transparent btn-lg border-none w-16"
        (click)="play()"
      >
        <fa-icon [icon]="faPlay" />
      </button>
      } }

      <button
        class="text-4xl btn bg-transparent btn-lg border-none w-16"
        (click)="nextSong()"
      >
        <fa-icon [icon]="faStepForward" />
      </button>

      <button
        class="text-4xl btn bg-transparent btn-lg border-none w-16"
        [class]="{ 'bg-transparent': !isRepeat() }"
        (click)="toggleRepeat()"
      >
        <fa-icon [icon]="faRepeat" />
      </button>

      <button
        class="text-4xl btn btn-lg w-16 outline-none text-white"
        (click)="toggleSize()"
        [style]="{ 'background-color': dominantColor() | async }"
      >
        <fa-icon [icon]="faArrowDown" />
      </button>

      <button
        class="text-4xl btn btn-lg border-none w-16"
        [class]="{ 'bg-transparent': !isShuffle() }"
        (click)="toggleShuffle()"
      >
        <fa-icon [icon]="faShuffle" />
      </button>
    </div>
  </div>
</div>
