@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.noScroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  max-width: 1200px;
  margin: 0 auto;
}
